<gp-topnavbar class="vw-100">Loading...</gp-topnavbar>

<!-- Header (could not figure out how to use bootstraps grid for this scenario) -->
<div class="gp__header-wrapper overflow-hidden">
    <div class="gp__header-left vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column fw-bolder">
            <span>Daily</span>
            <span>essentials</span>
            <span>delivered in</span>
            <span>minutes.</span>
        </div>
        <gp-header-address-search class="gp__addr-search mb-4">Loading...</gp-header-address-search>
    </div>


    <div class="gp__header-right">
        <gp-top_carousel id="top" class="h-100">Loading...</gp-top_carousel>
    </div>
    <div class="gp__header-right-left">
        <gp-left-vertical-carousel id="bottom-left" class="h-100">Loading...</gp-left-vertical-carousel>
    </div>
    <div class="gp__header-right-right">
        <gp-right-vertical-carousel id="bottom-right" class="h-100">Loading...</gp-right-vertical-carousel>
    </div>
</div>

<!-- Info Cards -->
<div class="container-fluid d-flex mt-3 justify-content-evenly w-full px-5">
    <div *ngFor="let infoCard of infoCards" class="flex-even mt-4">
        <gp-info-card img={{infoCard.img}} title={{infoCard.title}} description={{infoCard.description}}>Loading...
        </gp-info-card>
    </div>
</div>
<div class="d-flex flex-center">
    <p class="gp__info-text">*Not guaranteed; average delivery time.</p>
</div>


<!-- Category Cards -->
<div class="d-flex justify-content-center pt-4">
    <p class="fw-bolder gp__header-text">Browse A Popular Category</p>
</div>
<div class="d-flex justify-content-center mt-0">
    <a routerLink="categories" class="text-decoration-none gp__shopping-text fs-4 fw-bold">Start Shopping →</a>
</div>


<div class="container-fluid d-flex flex-center my-3 flex-wrap">
    <div *ngFor="let catCard of catCards" class="m-3">
        <a routerLink="store" class="text-dark fw-bold text-decoration-none">
            <gp-categorycard img={{catCard.img}} title={{catCard.title}}>Loading...</gp-categorycard>
        </a>
    </div>
</div>

<!-- Bottom Nav -->
<gp-bottomnavbar>Loading...</gp-bottomnavbar>