.gp__header-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  height: 100vh;
  grid-auto-rows: 25vh;
}

.gp__header-left {
  background-color: #00a4ff;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.gp__header-right {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.gp__header-right-left {
  grid-column: 3;
  grid-row: 3 / 5;
}

.gp__header-right-right {
  grid-column: 4;
  grid-row: 3 / 5;
}

.flex-even {
  flex: 1;
}

.gp__info-text {
  color: #96a2a6;
}

.gp__header-text {
  font-size: 72px;
}

.gp__shopping-text {
  color: #00a4ff;
}
