<div class="container">
    <div class="row">
        <div class="col-6">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="input-group">
                    <span class="input-group-text">
                        Email:
                    </span>
                    <input type="text" class="form-control" placeholder="user@email.com" ngModel name="email" required
                        email>
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Password:
                    </span>
                    <input type="password" class="form-control" placeholder="Password123" ngModel name="password"
                        required password minlength="6">
                </div>
                <button class="btn btn-dark me-2 mt-2" type="submit" [disabled]="!authForm.valid"
                    (click)="buttonClicked='login'">
                    Log In
                </button>
                <button class="btn btn-dark mt-2" type="submit" [disabled]="!authForm.valid"
                    (click)="buttonClicked='signup'">
                    Sign Up
                </button>
            </form>
            <p>You logged in as: {{userEmail}}</p>
        </div>
    </div>
</div>