.gp__card {
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  border-radius: 0;
  border: 4px solid transparent;
  background-color: #eceee9;
  transition: border 0.15s ease-in;
}

.gp__card-img {
  width: 100%;
  aspect-ratio: 1;
  -webkit-filter: drop-shadow(15px 10px 1px #d9dbd7);
  filter: drop-shadow(15px 10px 1px #d9dbd7);
}

.gp__card-title {
  text-align: center;
  margin: 0.25rem 0;
  font-weight: 900, 10px;
}

.gp__card:hover {
  border: 4px solid black;
}
