<div id="leftCarousel" class="carousel slide gp__top-carousel" data-bs-ride="carousel" data-bs-pause=false>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../assets/Right Carousel/pepsi.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Right Carousel/redbull.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Right Carousel/sponges.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Right Carousel/baby-bottle.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Right Carousel/pringles.jpg" class="d-block w-100 h-100" alt="...">
        </div>
    </div>
</div>