<div id="topCarousel" class="carousel slide gp__top-carousel overflow-hidden" data-bs-ride="carousel"
    data-bs-pause=false>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../assets/top-car-brush.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/top-car-bread.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/top-car-diapers.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/top-car-bones.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/top-car-listerine.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>