/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.flex-center {
  justify-content: center;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway" !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body p {
  color: black;
}
