<div id="leftCarousel" class="carousel slide gp__top-carousel" data-bs-ride="carousel" data-bs-pause=false>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../assets/Left Carousel/windex.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Left Carousel/toilet-paper.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Left Carousel/coffee.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Left Carousel/reeses.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/Left Carousel/modelo.jpg" class="d-block w-100 h-100" alt="...">
        </div>
    </div>
</div>